<!DOCTYPE html>
<html>
    <head>
        <% include ../parties/head %>
        <meta name="author" content="François Duchêne">
        <title>BeerSearch - Commander</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <% include ../parties/nav %>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="./RechercheBieres.html">Recherche bière</a></li>
                <li><a href="./PDV.html">Points de ventes</a></li>
                <li class="active"><a href="#">Commander une bière</a></li>
                <li><a href="./contact.html">Contact</a></li>
              </ul>
              <% if(isLog) { %>
                <button type="button" class="btn btn-default navbar-btn" onclick="location.href='./Profile.html'">Bonjour <%=nom%></button>
                <button type="button" class="btn btn-default navbar-btn" onclick="location.href='./deconnexion.html'">Se déconnecter</button>
              <% }else{ %>
                <button type="button" class="btn btn-default navbar-btn" onclick="location.href='./Login.html'">Se connecter</button>
                <button type="button" class="btn btn-default navbar-btn" onclick="location.href='./SignIn.html'">S'inscrire</button>
              <% } %>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
        <header>
          <div class="container">
            <div class="starter-template">
              <h1>Commander dès maintenant</h1>
            </div>
          </div>
        </header>
        <% if(!isLog){ %>
          <h3 class="text-center">
            Pour utiliser cette fonction vous devez être
            <a id="lienConnexion" href='Login.html'>connecté</a>
          </h3>
        <% }else{ %>
          <div class="container">
            <table class="table table-striped table-hover table-bordered">
              <tr>
                <th> Bière </th>
                <th> Caractéristiques </th>
                <th> Points de vente </th>
                <th> Prix </th>
                <th> Commander </th>
              </tr>
              <% for(var i=0; i<4; i++) {%>
                <ul>
                  <tr>
                    <td> Chimey Bleue <%= i %></td>
                    <td>
                       brune, 9 %, laisse un leger goût de caramel en bouche
                    </td>
                    <td> Au moine fou </td>
                    <td>3€</td>
                    <td>
                      <label for="type">Nombre de bouteilles : </label>
                      <input type="number" id="inputNbBiere" name="nombreBiere" placeholder="Nombre de Bouteilles" required>
                    </td>
                  </tr>
                </ul>
              <%}%>
            </table>

            <script>
              function commandeEff() {
                document.getElementById("comm").innerHTML = "Commande envoyée !!";
              }
            </script>
            <a role="button" class="btn btn-primary btn-block" href="./RechercheBieres.html">Ajouter une bière</a>
            <button type="button" class="btn btn-default btn-block" onclick="commandeEff()" >Commander</button>

          </div>
        <% } %>
        <section class="container">
          <h3 id="comm"></h3>
        </section>
        <footer class="footer">
          <% include ../parties/footer %>
        </footer>
        <% include ../parties/scripts %>
    </body>
</html>
