<!DOCTYPE html>
<html>
    <head>
        <% include ../parties/head %>
        <meta name="author" content="François Duchêne">
        <title>BeerSearch - Commander</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <% include ../parties/nav %>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="./RechercheBieres.html">Recherche bière</a></li>
                <li><a href="./PDV.html">Points de ventes</a></li>
                <li class="active"><a href="#">Commander une bière</a></li>
                <li><a href="./contact.html">Contact</a></li>
              </ul>
              <% if(isLog) { %>
                <button type="button" class="btn btn-default navbar-btn" onclick="location.href='./Profile.html'">Bonjour <%=nom%></button>
                <button type="button" class="btn btn-default navbar-btn" onclick="location.href='./deconnexion.html'">Se déconnecter</button>
              <% }else{ %>
                <button type="button" class="btn btn-default navbar-btn" onclick="location.href='./Login.html'">Se connecter</button>
                <button type="button" class="btn btn-default navbar-btn" onclick="location.href='./SignIn.html'">S'inscrire</button>
              <% } %>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
        <header>
          <div class="container">
            <div class="starter-template">
              <h1>Commander dès maintenant</h1>
            </div>
          </div>
        </header>
        <% if(!isLog){ %>
          <h3>
            Pour utiliser cette fonction vous devez être
            <a id="lienConnexion" href='Login.html'>connecté</a>
          </h3>
        <% }else{ %>
          <table class="table table-striped table-hover">
            <tr>
              <th> Bière </th>
              <th> Caractéristiques </th>
              <th> Points de vente </th>
              <th> Prix </th>
              <th> Commander </th>
            </tr>
            <tr>
              <td> Chimey Bleue </td>
              <td>
                 brune, 9 %, laisse un leger goût de caramel en bouche
              </td>
              <td> Au moine fou </td>
              <td>3€</td>
              <td>
                <label for="type">Nombre de bouteilles </label>
                <select name="type" id="type">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </td>
            </tr>
            <tr>
              <td> Chimey Bleue </td>
              <td>
                 brune, 9 %, laisse un leger goût de caramel en bouche
              </td>
              <td> Jamais 203 </td>
              <td>2,5€</td>
              <td>
                <label for="type">Nombre de bouteilles </label>
                <select name="type" id="type">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </td>
            </tr>
            <tr>
              <td> Orval </td>
              <td>
                 Ambrée, 6.2 %, amère
              </td>
              <td> Beer Bar </td>
              <td>1,25€</td>
              <td>
                <label for="type">Nombre de bouteilles </label>
                <select name="type" id="type">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </td>
            </tr>
            <tr>
              <td> Orange Pied'boeuf </td>
              <td>
                  blonde, 1,2 %, classique
              </td>
              <td> Chez Lagaffe </td>
              <td>1,75€</td>
              <td>
                <label for="type">Nombre de bouteilles </label>
                <select name="type" id="type">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </td>
            </tr>
          </table>

          <div class="comm">
            <script>
              function commandeEff() {
                document.getElementById("comm").innerHTML = "Commande envoyée !!";
              }
            </script>
          <button type="button" class="btn btn-default navbar-btn" onclick="commandeEff()" >Commander</button>
          </div>
        <% } %>
        <section class="container">
          <h3 id="comm"></h3>
        </section>
        <footer class="footer">
          <% include ../parties/footer %>
        </footer>
        <% include ../parties/scripts %>
    </body>
</html>
