<!DOCTYPE html>
<html>
    <head>
        <% include ../parties/head %>
        <meta name="author" content="François Duchêne">
        <title>BeerSearch - Commander</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <% include ../parties/nav %>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="./RechercheBieres.html">Recherche bière</a></li>
                <li><a href="./PDV.html">Points de ventes</a></li>
                <li class="active"><a href="#">Commander une bière</a></li>
                <li><a href="./contact.html">Contact</a></li>
              </ul>
              <% if(isLog) { %>
                <button type="button" class="btn btn-default navbar-btn" onclick="location.href='./Profile.html'">Bonjour <%=nom%></button>
                <button type="button" class="btn btn-default navbar-btn" onclick="location.href='./deconnexion.html'">Se déconnecter</button>
              <% }else{ %>
                <button type="button" class="btn btn-default navbar-btn" onclick="location.href='./Login.html'">Se connecter</button>
                <button type="button" class="btn btn-default navbar-btn" onclick="location.href='./SignIn.html'">S'inscrire</button>
              <% } %>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
        <header>
          <div class="container">
            <div class="starter-template">
              <h1>Confirmez votre commande</h1>
            </div>
          </div>
        </header>
          <div class="container">
            <form action="/confirmerCommande" method="post">
              <h4>
                Votre ancien solde : <%=balance%>
              </h4>
              <h4>
                Votre nouveau solde : <%=(balance - prixTotal).toFixed(2)%>
              </h4>

              <button type="submit" class="btn btn-default btn-block">Confirmer la commande</button>
            </form>
            <form action="/annuler2" method="post">
              <button type="submit" class="btn btn-primary btn-block">Annuler</button>
            </form>

          </div>
        <footer class="footer">
          <% include ../parties/footer %>
        </footer>
        <% include ../parties/scripts %>
    </body>
</html>
