<!DOCTYPE html>
<html>
    <head>
        <% include ../parties/head %>
        <meta name="author" content="François Duchêne">
        <title>BeerSearch - Connexion</title>
    </head>
    <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <% include ../parties/nav %>
        </div>
      </nav>
      <div class="container">
        <form class="form-signin" action="/sendLogin" id="SignIn" method="post">
          <h2 class="form-signin-heading">Se connecter</h2>
          <label for="inputEmail" class="sr-only">Adresse Mail</label>
          <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Adresse Mail" required autofocus>
          <label for="inputPassword" class="sr-only">Mot de passe</label>
          <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Mot de Passe" required>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Se souvenir de moi
            </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
          <button type="button" class="btn btn-lg btn-primary btn-block" onclick="location.href='./SignIn.html'">S'inscrire</button>
        </form>
      </div> <!-- /container -->
      <% include ../parties/scripts %>
    </body>
</html>
