<!DOCTYPE html>
<html>
  <head>
    <% include ../parties/head %>
    <meta name="author" content="François Duchêne">
    <title>BeerSearch - Rechercher</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <% include ../parties/nav %>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Recherche bière</a></li>
            <li><a href="./PDV.html">Points de ventes</a></li>
            <li><a href="./Commander.html">Commander une bière</a></li>
            <li><a href="./contact.html">Contact</a></li>
          </ul>
          <button type="button" class="btn btn-default navbar-btn" onclick="location.href='./Login.html'">Se connecter</button>
          <button type="button" class="btn btn-default navbar-btn" onclick="location.href='./SignIn.html'">S'inscrire</button>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <header>
      <div class="container">
        <div class="starter-template">
          <h1>Recherche</h1>
          <h3>Ici recherchez vos bières belges favorites dans notre immense base de donnée !</h3>
        </div>
      </div>
    </header>
    <section>
      <form method="post" class="form-search" action="/search" id="boutonRechercher">
        <div class="input-append">
          <script src="js/recherche.js"></script>
          <input type="search" id="inputSearch" name="nomBiere"  class="span2 search-query" placeholder="Rechercher.." onsearch="Recherche()"/>
          <button type="submit" class="btn" onclick="Recherche()">
            <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
          </button>
        </div>
        <label for="type">Type de bière</label>
        <select name="type" id="type">
          <option value="Tout">Tout</option>
          <option value="Blonde">Blonde</option>
          <option value="Blanche">Blanche</option>
          <option value="Triple">Triple</option>
          <option value="Ambrée">Ambrée</option>
          <option value="Brune">Brune</option>
          <option value="Abbaye">Abbaye</option>
          <option value="Fruitée">Fruitée</option>
          <option value="Lambic">Lambic</option>
          <option value="Ale">Ale</option>
          <option value="Double">Double</option>
          <option value="Pils">Pils</option>
          <option value="Stout">Stout</option>
          <option value="Rouge">Rouge</option>
          <option value="Spéciale">Spéciale</option>
          <option value="Bock">Bock</option>
          <option value="Bio">Bio</option>
          <option value="BiereNoel">Bière de Noël</option>
          <option value="BièreMiel">Bière au miel</option>
          <option value="Saison">Saison</option>
          <option value="FermentationBasse">Fermentation basse</option>
          <option value="FermentationHaute">Fermentation haute</option>
        </select>
        <label for="degree">Degré d'alcool</label>
        <select name="degree" id="degree">
          <option value="Tout">Tout</option>
          <option value="moins2">Moins de 2 degrée</option>
          <option value="2et6">Entre 2 et 6</option>
          <option value="6et8">Entre 6 et 8</option>
          <option value="plus8">Plus de 8</option>
        </select>
        <label for="province">Province</label>
        <select name="province" id="province">
          <option value="Tout">Tout</option>
          <option value="Luxembourg">Luxembourg</option>
          <option value="Namur">Namur</option>
          <option value="Liège">Liège</option>
          <option value="Hainaut">Hainaut</option>
          <option value="Bruxelles">Bruxelles</option>
          <option value="Brabant flamand">Brabant flamand</option>
          <option value="Brabant wallon">Brabant wallon</option>
          <option value="Flandre-Occidentale">Flandre-Occidentale</option>
          <option value="Flande-Orientale">Flande-Orientale</option>
          <option value="Limbourg">Limbourg</option>
          <option value="Anvers">Anvers</option>
        </select>
      </form>
    </section>
    <section class="container">
      <h3 id="result"></h3>
    </section>
    <footer class="footer">
      <% include ../parties/footer %>
    </footer>
    <% include ../parties/scripts %>
  </body>
</html>
