<!DOCTYPE html>
<html>
    <head>
        <% include ../parties/head %>
        <meta name="author" content="Julien Bastin">
        <title>BeerSearch - Inscription réussie</title>
    </head>
    <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <% include ../parties/nav %>
        </div>
      </nav>
      <div class="container">
        <h2 class="form-signinok-heading">inscription réussi</h2>
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="window.location.href='./Login.html'">Connectez vous!</button>
      </div> <!-- /container --> 
    </body>
</html>
